<div class="banner custom-font container">
  <h1 class="title">Deliverr</h1>
  <p class="subtitle">Your Convenient Grocery Delivery Service</p>
  <ul class="description">
    <li style="color: green;">Discover the convenience of online grocery shopping with Deliverr.</li>
    <li>Browse our wide selection of fresh, high-quality products from the comfort of your home.</li>
    <li style="color: green;">From pantry staples to organic produce, we have everything you need.</li>
    <li>Enjoy doorstep delivery, saving you time and effort.</li>
    <li style="color: green;">Simplify your shopping routine and redefine the way you grocery shop.</li>
    <li>Try Deliverr today and experience a seamless and efficient grocery delivery service.</li>
  </ul>

  <a routerLink="/products" class="btn btn-outline-warning ">Let's Deliverrrr</a>
</div>